p.lead{
    font-family: 'Noto Serif', serif;
}

.titulos{
    font-family: 'Baloo Bhaijaan', cursive;
    font-weight: normal;
}

.btn {
    margin-right: 5px;
}

.fas {
    font-size: 30px;
    color: #fff;
}

.card-text{
    font-family: 'Baloo Bhaijaan', cursive;
    font-size: large;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

html,
body {
    height: 100%;
    background-color: #333;
}

.jumbotron {
    background-color: transparent;
    color: #fff;
}

.iconic {
    height: 35px;
    color: red;
}