{% extends 'wikaldeiraapp/base.html' %}
{% block content %}
<div class="bg-light">
    <div class="container py-5 bg-faded">
        <h1>Lore Delete</h1>
        <div class="row align-items-center">
            <form method="post">{% csrf_token %}
                <div class="col">
                    Você tem certeza que deseja deletar "{{ object }}" ?
                </div>
                <div class="col">
                    <input class="btn btn-dark" type="submit" value="Sim!"/>
                    <button class="btn btn-secondary">Não!</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
