{% extends 'wikaldeiraapp/base.html' %}
{% block content %}
<div class="bg-light">
    <div class="container py-5 bg-faded">
        <div class="row">
            <div class="col">
                <div class="blog-post">
                    <div class="row">
                        <div class="mx-5">
                            <img align="right" src="{{lore.image.url}}" class="rounded">
                            <h1 class="display-3">{{ lore.title }}</h1>
                            <p class="lead">{{ lore.text|safe }}</p>
                        </div>
                        <div class="mx-5">
                            <a href="{% url 'lore_edit' pk=lore.pk %}">
                                <button type="button" class="btn btn-dark">Edit</button>
                            </a>
                            <a href="{% url 'lore_delete' pk=lore.pk %}">
                                <button type="button" class="btn btn-secondary">Delete</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}